body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 500px;
}

.hero-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
}

.menu-bar-left {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.menu-bar-right {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 0px 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.hero-content .hero-text {
    width: 450px;
}

.hero-text button {
    border-style: none;
    border-radius: 12px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
}

.hero-text p {
    margin: 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text p {
    margin-bottom: 8px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content img {
    max-height: 227px;
}

#page-body {
    flex: auto;
    display: flex;
    flex-direction: column;
}

#information {
    padding: 16px 0px;
    flex: auto;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 16px 0px;
    margin-bottom: 16px;
}

.card img {
    max-width: 150px;
    border-radius: 16px;
    margin-bottom: 8px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 0px 32px;
    margin-bottom: 70px;
}

.card {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.card-text {
    text-align: center;
    color: #4b5563;
}

#quotes {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.quote {
    min-width: 800px;
    width: 800px;
}

.quote-body {
    font-size: 36px;
    font-style: oblique;
    color: #1f2937;
}

.quote-speaker {
    font-size: 20px;
    font-weight: bold;
    text-align: end;
}

#call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex: auto;
}

.banner {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 900px;
    height: 120px;
    padding: 16px 32px;
    border-radius: 16px;
}

.banner-main-text {
    font-size: 20px;
    font-weight: bold;
    color: #f9faf8;
}

.banner-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.banner p {
    margin: 0;
}

.banner button {
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 12px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}
